* {
  font-family: "Roboto";
  transition: .3s;
}
p {
  color: #fff;
  line-height: 1.9;
}
h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 190.3%;
  /* identical to box height, or 27px */

  text-align: center;

  color: #0094ff;
}

body {
  margin: 0;
}


header {
  visibility: hidden;
}
@media only screen and (max-width: 1024px) {
  header {
    visibility: visible;
  }
}



header img {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 6;
  width: 150px;
  }
  
  header input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
  }

  input#burger {
  position: fixed;
  visibility: hidden;
   }

  header input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #fff;
  transition: 0.5s;
  }
  header input + label span:first-child {
  top: 3px;
  }
  header input + label span:last-child {
  top: 16px;
  }
  header label:hover {
  cursor: pointer;
  }
  header input:checked + label span {
  opacity: 0;
  top: 50%;
  }
  header input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
  }
  header input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
  }
  header input ~ nav {
    
  // background: #ffffff;
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
  }


  
  header input ~ nav > ul {
  text-align: center;
  // position: absolute;
  top: 35%;
  left: 20%;
  right: 20%;
  // display: grid;
  margin: auto;
  list-style-type: none;
  }
  header input ~ nav > ul > li {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
  }
  header input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
  visibility: hidden;
  }
  header input:checked ~ nav {
    background: #ffffff;
  height: 100%;
  transition-delay: 0s;
  display: grid;
  }
  header input:checked ~ nav > ul > li {
    background: #ffffff;
  opacity: 1;
  transition-delay: 0.5s;
  }
  header input:checked ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 30px;
    visibility: visible;
    }
    header input:checked + label span {
      
      background: #333;

      }




.hero {
  display: grid;
  background-image: url("../../Images/Hero-Image3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .nav {
    display: grid;
    padding-top: 20px;

    .container {
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr;
      .logo-wrapper {
        display: grid;
        .logo {
          background-color: #0094ff;
          border-radius: 3px;
          width: 80px;
          height: 80px;
          display: grid;
          img {
            margin: auto;
            padding: 5px;
          }
        }
      }
      div {
        margin: auto;
        a {
          margin: auto;
          color: #fff;
          text-align: center;
          text-decoration: none;
        }
        @media only screen and (max-width: 1024px) {
          a {
            display: none;
          }
        }
      }
    }
  }
  .title {
    width: 80%;
    display: grid;
    .container {
      margin: auto;
      .name {
        margin-top: 95px;
        margin-bottom: 90px;
        .jabari {
          font-size: 145px;
          color: #fff;
          font-weight: 700;
          line-height: 0.8;
        }
        @media only screen and (max-width: 1000px) {
          .jabari {
            font-size: 100px;
          }
        }
        @media only screen and (max-width: 600px) {
          .jabari {
            font-size: 75px;
          }
        }
        @media only screen and (max-width: 500px) {
          .jabari {
            font-size: 60px;
            line-height: 1.1;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 500px) {
    .title {
      margin: auto;
      width: 80%;
    }
  }
}

.layout {
  display: grid;
  grid-template-columns: 282px 1fr;
  .nav {
    background-color: #d1d1d1;
    display: block;
    .links {
      display: grid;
      width: 80%;
      margin: auto;
      padding-top: 40px;
      .not-fixed {
        position: relative;
      }
      .show-fix {
        position: fixed;
        top: 10px;
        width: 250px;
      }
      .fixed {
        .point {
          cursor: pointer;
        }
        
        .first {
          border-radius: 3px;
          .divider-1 {
            visibility: hidden;
          }
          
          .divider-1-hide {
            visibility: hidden;
          }
          &:hover {
            background-color: #bebebe;
          }
          
        }
        .second {
          border-radius: 3px;
          .divider-2 {
            visibility: hidden;
          }
          .divider-2-show {
            visibility: visible;
          }
          &:hover {
            background-color: #bebebe;
          }
        }
        .third {
          border-radius: 3px;
          .divider-3 {
            visibility: hidden;
          }
          .divider-3-show {
            visibility: visible;
          }
          &:hover {
            background-color: #bebebe;
          }
        }
        .fourth {
          border-radius: 3px;
          .divider-4 {
            visibility: hidden;
          }
          .divider-4-show {
            visibility: visible;
          }
          &:hover {
            background-color: #bebebe;
          }
        }
        .fifth {
          border-radius: 3px;
          .divider-5 {
            visibility: hidden;
          }
          .divider-5-show {
            visibility: visible;
          }
          &:hover {
            background-color: #bebebe;
          }
        }
        .sixth {
          border-radius: 3px;
          .divider-6 {
            visibility: hidden;
          }
          .divider-6-show {
            visibility: visible;
          }
          &:hover {
            background-color: #bebebe;
          }
        }
        .seventh {
          border-radius: 3px;
          .divider-7 {
            visibility: hidden;
          }
          .divider-7-show {
            visibility: visible;
          }
          &:hover {
            background-color: #bebebe;
          }
        }
        .eighth {
          border-radius: 3px;
          .divider-8 {
            visibility: hidden;
          }
          .divider-8-show {
            visibility: visible;
          }
          &:hover {
            background-color: #bebebe;
          }
        }
        // position: fixed;
        div {
          padding: 20px 0;
          display: grid;
          grid-template-columns: auto 1fr;
          margin: auto;
          p {
            padding-left: 10px;
            line-height: 1;
            color: #333;
            font-weight: 700;
            margin: auto 0;
            a {
              text-decoration: none;
              color: #333;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1000px) {
    .nav {
      display: none;
    }
  }
  .right {
    background-color: #222020;
    .intro {
      p {
        margin-left: 40px;
        width: 90%;
        font-size: 14px;
        line-height: 1.9;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      @media only screen and (max-width: 500px) {
        p {
          margin: 50px auto;
        }
      }
    }
    .process {
      background-color: #3d3d3d;
      .container {
        display: grid;
        grid-template-columns: 40% 1fr;
        margin-left: 40px;
        .left {
          margin: auto 0 auto 0;
          h2 {
            font-size: 20px;
            color: #0094ff;
          }
        }
        .right {
          // img {
          //   width: 100%;
          //   height: 100%;
          // }
          background-image: url('../../Images/Office-Image.jpg');
          background-repeat: no-repeat;
              background-size: cover;
        }
      }
      @media only screen and (max-width: 750px) {
        .container {
          grid-template-columns: 1fr;
        }
      }
      @media only screen and (max-width: 500px) {
        .container {
          width: 90%;
          margin: auto;
        }
      }
    }
    
    .section1 {
      .container {
        display: grid;
        .title {
          display: grid;
          grid-template-areas: "one";
          img {
            grid-area: one;
          }
          .name {
            grid-area: one;
            display: grid;
            margin: auto;
            h4 {
              color: #fff;
              text-align: center;
            }
            .line {
              margin: auto;
              width: 50px;
              height: 1px;
              background-color: #0094ff;
            }
          }
          
        }
        .wrapper {
          display: grid;
          background-color: #393737;
          width: 80%;
          margin: 50px auto;
          border-radius: 30px;
          padding: 30px;
          ul {
            li {
              color: #fff;
              line-height: 1.9;
            }
          }
          @media only screen and (max-width: 500px) {
            ul {
              width: 80%;
            }
          }
          p {
            margin-left: 20px;
            line-height: 1.9;
          }
          @media only screen and (max-width: 500px) {
            p {
              margin: 20px auto;
              width: 80%;
            }
          }
          h3 {
            margin: auto auto auto 20px;
            font-weight: 700;
            font-size: 20px;
          }
          @media only screen and (max-width: 500px) {
            h3 {
              text-align: left;
              width: 80%;
              margin: auto;
            }
          }
        }
        @media only screen and (max-width: 500px) {
          .wrapper {
            width: 100%;
            padding: 0;
          }
        }
      }
    }
    .section2 {
      background-color: #393737;
      .container {
        display: grid;
        .title {
          display: grid;
          grid-template-areas: "one";
          img {
            grid-area: one;
          }
          .name {
            grid-area: one;
            display: grid;
            margin: auto;
            h4 {
              color: #fff;
              text-align: center;
            }
            .line {
              margin: auto;
              width: 50px;
              height: 1px;
              background-color: #0094ff;
            }
          }
        }
        .wrapper {
          display: grid;
          width: 80%;
          margin: 50px auto;
          border-radius: 30px;
          padding: 30px;
          @media only screen and (max-width: 500px) {
            p {
              width: 90%;
              margin: 20px auto;
            }
          }
          .middle {
            background-color: #222020;
            border-radius: 30px;
            padding: 30px;
            ul {
              li {
                color: #fff;
                line-height: 1.9;
              }
            }
            p {
              margin-left: 20px;
              line-height: 1.9;
            }
            @media only screen and (max-width: 500px) {
              p {
                width: 90%;
                margin: auto;
              }
            }
            h3 {
              margin: auto auto auto 20px;
              font-weight: 700;
              font-size: 20px;
              text-align: left;
            }
            @media only screen and (max-width: 500px) {
              h3 {
                width: 90%;
                margin: auto;
              }
            }
          }
          @media only screen and (max-width: 500px) {
            .middle {
              padding: 20px 0;

            }
          }
        }
        @media only screen and (max-width: 500px) {
          .wrapper {
            width: 100%;
            padding: 0;
            margin: 0;
          }
        }
      }
    }

    .section3 {
      background-color: #222020;
      .container {
        display: grid;
        .title {
          display: grid;
          grid-template-areas: "one";
          img {
            grid-area: one;
          }
          .name {
            grid-area: one;
            display: grid;
            margin: auto;
            h4 {
              color: #fff;
              text-align: center;
            }
            .line {
              margin: auto;
              width: 50px;
              height: 1px;
              background-color: #0094ff;
            }
          }
        }
        .wrapper {
          display: grid;
          margin-left: 10%;
          grid-template-columns: 1fr 70%;
          .left {
            margin: auto;
            .line {
              width: 50px;
              height: 1px;
              background-color: #0094ff;
            }
          }
          @media only screen and (max-width: 500px) {
            .left {
              width: 90%;
              margin: auto;
            }
          }
          .right {
            display: grid;
            grid-template-areas: "one";
            padding-bottom: 50px;
            .shape {
              grid-area: one;
              margin-left: 0;
              display: grid;
              grid-template-columns: 1fr 1fr;
              position: relative;
              .pic {
                display: grid;
                grid-template-areas: "one";
                position: absolute;
                bottom: 0px;
                height: 130px;
                .circle {
                  padding-bottom: 0px;
                  padding-left: 80px;
                  position: absolute;
                  bottom: 0px;
                }
                .triangle {
                  position: absolute;
                  bottom: 15px;
                }
              }
            }
            .image {
              display: grid;
              grid-area: one;
              background-image: url("../../Images/Pen.jpg");
              background-repeat: no-repeat;
              background-size: cover;
              height: 390px;
              border-radius: 30px 0 0 30px;
              overflow: hidden;
              position: relative;
              margin-left: 100px;
              margin-bottom: 20px;
              filter: drop-shadow(-3px 4px 14px rgba(0, 0, 0, 0.25));
              .copy {
                display: grid;
                background-color: rgb(255, 255, 255);
                height: 126px;
                position: absolute;
                bottom: 0px;
                padding: 10px 10px 0 30px;
                opacity: 0.9;

                p {
                  color: #333;
                }
              }@media only screen and (max-width: 1070px) {
                .copy {
                  height: 200px
                }
              }
            }
            @media only screen and (max-width: 1000px) {
              .image {
                margin-top: 50px;
                margin-left: 0;
              }
            }
          }
        }
        @media only screen and (max-width: 1000px) {
          .wrapper {
            grid-template-columns: 1fr;
          }
        }
        @media only screen and (max-width: 500px) {
          .wrapper {
            margin: auto;
          }
        }
      }
    }

    .section4 {
      background-color: #363434;
      .container {
        display: grid;
        .title {
          display: grid;
          grid-template-areas: "one";

          img {
            grid-area: one;
          }
          .name {
            grid-area: one;
            display: grid;
            margin: auto;
            padding-top: 30px;
            h4 {
              color: #fff;
              text-align: center;
            }
            .line {
              margin: auto;
              width: 50px;
              height: 1px;
              background-color: #0094ff;
            }
            p {
              width: 60%;
              text-align: center;
              margin: auto;
              margin-top: 50px;
              margin-bottom: 50px;
            }
            @media only screen and (max-width: 500px) {
              p {
                width: 90%;
                margin: 30px auto;
              }
            }
          }
        }
      }
    }

    .section5 {
      background-color: #222020;
      display: grid;
      grid-template-areas: "one";
      .background {
        grid-area: one;
        position: relative;
        img {
          position: absolute;
          right: 0;
        }
      }
      .container {
        grid-area: one;
        display: grid;
        z-index: 1001;
        .title {
          display: grid;
          grid-template-areas: "one";

          img {
            grid-area: one;
          }
          .name {
            grid-area: one;
            margin-top: 0;

            padding-top: 30px;
            h4 {
              color: #fff;
              text-align: center;
            }
            .line {
              margin: auto;
              width: 50px;
              height: 1px;
              background-color: #0094ff;
            }
            p {
              width: 60%;
              text-align: center;
              margin: auto;
              margin-top: 50px;
              margin-bottom: 50px;
            }
            @media only screen and (max-width: 500px) {
              p {
                width: 90%;
                margin: 30px auto;
              }
            }
          }
        }
        .box1 {
          display: grid;
          width: 80%;
          grid-template-columns: 1fr auto 1fr;
          margin: auto;
          background-color: #1b1a1a;
          border-radius: 30px;
          box-shadow: 0px -2px 14px rgba(0, 0, 0, 0.15);
          .left {
            display: grid;
            margin-left: 30px;
            h2 {
              text-align: left;
              margin-bottom: 0;
              color: #0094ff;
            }
            p {
              margin-top: 0;
            }
            ul {
              margin-top: 0;
              padding-left: 20px;
              li {
                color: #fff;
                line-height: 1.9;
              }
            }
          }
          @media only screen and (max-width: 500px) {
            .left {
              width: 90%;
              margin: auto;
            }
          }
          .line {
            height: 100%;
            width: 1px;
            background-color: #1f2c36;
          }
          .second {
            margin-left: 30px;
            h2 {
              text-align: left;
              margin-bottom: 0;
              color: #0094ff;
            }
            p {
              margin-top: 0;
            }
            ul {
              margin-top: 0;
              padding-left: 20px;
              li {
                color: #fff;
                line-height: 1.9;
              }
            }
          }
          @media only screen and (max-width: 500px) {
            .second {
              width: 90%;
              margin: auto;
            }
          }
        }
        @media only screen and (max-width: 478px) {
          .box1 {
            grid-template-columns: 1fr;
            width: 100%;
          }
        }
      
        .divider {
          width: 100%;
          height: 1px;
          background-color: #213748;
          margin-top: 50px;
          margin-bottom: 50px;
        }
        h3 {
          margin-top: 0;
          margin-bottom: 30px;
        }
        .box2 {
          display: grid;
          width: 80%;
          grid-template-columns: 1fr auto 1fr;
          margin: auto;
          background-color: #1b1a1a;
          border-radius: 30px;
          box-shadow: 0px -2px 14px rgba(0, 0, 0, 0.15);
          .left {
            display: grid;
            margin-left: 30px;
            h2 {
              text-align: left;
              margin-bottom: 0;
              color: #0094ff;
            }
            p {
              margin-top: 0;
            }
            ul {
              margin-top: 0;
              padding-left: 20px;
              li {
                color: #fff;
                line-height: 1.9;
              }
            }
          }
          @media only screen and (max-width: 500px) {
            .left {
              width: 90%;
              margin: auto;
            }
          }
          .line {
            height: 100%;
            width: 1px;
            background-color: #1f2c36;
          }
          .second {
            margin-left: 30px;
            h2 {
              text-align: left;
              margin-bottom: 0;
              color: #0094ff;
            }
            p {
              margin-top: 0;
            }
            ul {
              margin-top: 30px;
              padding-left: 20px;
              li {
                color: #fff;
                line-height: 1.9;
              }
            }
          }
          @media only screen and (max-width: 500px) {
            .second {
              width: 90%;
              margin: auto;
            }
          }
        }
        @media only screen and (max-width: 478px) {
          .box2 {
            grid-template-columns: 1fr;
            width: 100%;
          }
        }
        .methods {
          display: grid;
          width: 80%;
          margin: auto;
          h3 {
            text-align: center;
            margin: auto;
            margin-top: 50px;
          }
          p {
            text-align: center;
          }
          .icons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            margin-top: 50px;
            .icon1 {
              margin: auto;
              display: grid;
              margin-top: 0;
              img {
                margin: auto;
              }
            }
            .icon2 {
              margin: auto;
              display: grid;
              margin-top: 0;
              img {
                margin: auto;
              }
            }
            .icon3 {
              margin: auto;
              display: grid;
              margin-top: 0;
              img {
                margin: auto;
              }
            }
            .icon4 {
              margin: auto;
              display: grid;
              margin-top: 0;
              img {
                margin: auto;
              }
            }
            .icon5 {
              margin: auto;
              display: grid;
              margin-top: 0;
              img {
                margin: auto;
              }
            }
          }
          @media only screen and (max-width: 872px) {
            .icons {
              grid-template-columns: 1fr 1fr 1fr;
            }
          }
          @media only screen and (max-width: 500px) {
            .icons {
              grid-template-columns: 1fr 1fr;
            }
          }
        }
      }
    }
    .section6 {
      background-color: #363434;
      .container {
        display: grid;
        padding-bottom: 100px;
        .title {
          display: grid;
          grid-template-areas: "one";

          img {
            grid-area: one;
          }
          .name {
            grid-area: one;
            display: grid;
            margin: auto;
            padding-top: 30px;
            h4 {
              color: #fff;
              text-align: center;
            }
            .line {
              margin: auto;
              width: 50px;
              height: 1px;
              background-color: #0094ff;
            }
            .box {
              background-color: #222020;
              width: 70%;
              margin: auto;
              border-radius: 30px;
              margin-top: 40px;
              display: grid;
              grid-template-areas: "one";
              position: relative;
              img {
                grid-area: one;
              }
              .second {
                position: absolute;
                bottom: 0;
                right: 0;
              }
              p {
                width: 60%;
                text-align: left;
                margin: auto;
                margin-top: 50px;
                margin-bottom: 50px;
                grid-area: one;
              }
              @media only screen and (max-width: 500px) {
                p {
                  width: 80%;
                  margin: 20px auto;
                }
              }
            }
            @media only screen and (max-width: 500px) {
              .box {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .section7 {
      background-color: #222020;
      .container {
        display: grid;
        .title {
          display: grid;
          grid-template-areas: "one";
          .name {
            grid-area: one;
            display: grid;
            margin: auto;
            padding-top: 30px;
            h4 {
              color: #fff;
              text-align: center;
            }
            .line {
              margin: auto;
              width: 50px;
              height: 1px;
              background-color: #0094ff;
            }
          }
        }
        .define {
          margin: auto;
          width: 80%;
          margin-top: 50px;
          span {
            color: #0094ff;
            font-weight: 700;
          }
        }
        .references {
          padding-top: 50px;
          padding-bottom: 100px;
          width: 80%;
          margin: auto;
          p {
            font-weight: 500;
          }
          .link {
            color: #0094ff;
          }
          @media only screen and (max-width: 500px) {
            .link {
              font-size: 12px;
            }
          }
          a {
            text-decoration: none;
            color: #0094ff;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
