* {
  font-family: "Roboto";
  -webkit-transition: .3s;
  transition: .3s;
}

p {
  color: #fff;
  line-height: 1.9;
}

h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 190.3%;
  /* identical to box height, or 27px */
  text-align: center;
  color: #0094ff;
}

body {
  margin: 0;
}

header {
  visibility: hidden;
}

@media only screen and (max-width: 1024px) {
  header {
    visibility: visible;
  }
}

header img {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 6;
  width: 150px;
}

header input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}

input#burger {
  position: fixed;
  visibility: hidden;
}

header input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header input + label span:first-child {
  top: 3px;
}

header input + label span:last-child {
  top: 16px;
}

header label:hover {
  cursor: pointer;
}

header input:checked + label span {
  opacity: 0;
  top: 50%;
}

header input:checked + label span:first-child {
  opacity: 1;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

header input:checked + label span:last-child {
  opacity: 1;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

header input ~ nav {
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  overflow: hidden;
}

header input ~ nav > ul {
  text-align: center;
  top: 35%;
  left: 20%;
  right: 20%;
  margin: auto;
  list-style-type: none;
}

header input ~ nav > ul > li {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

header input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
  visibility: hidden;
}

header input:checked ~ nav {
  background: #ffffff;
  height: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  display: -ms-grid;
  display: grid;
}

header input:checked ~ nav > ul > li {
  background: #ffffff;
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

header input:checked ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
  visibility: visible;
}

header input:checked + label span {
  background: #333;
}

.hero {
  display: -ms-grid;
  display: grid;
  background-image: url("../../Images/Hero-Image3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .nav {
  display: -ms-grid;
  display: grid;
  padding-top: 20px;
}

.hero .nav .container {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr;
}

.hero .nav .container .logo-wrapper {
  display: -ms-grid;
  display: grid;
}

.hero .nav .container .logo-wrapper .logo {
  background-color: #0094ff;
  border-radius: 3px;
  width: 80px;
  height: 80px;
  display: -ms-grid;
  display: grid;
}

.hero .nav .container .logo-wrapper .logo img {
  margin: auto;
  padding: 5px;
}

.hero .nav .container div {
  margin: auto;
}

.hero .nav .container div a {
  margin: auto;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .hero .nav .container div a {
    display: none;
  }
}

.hero .title {
  width: 80%;
  display: -ms-grid;
  display: grid;
}

.hero .title .container {
  margin: auto;
}

.hero .title .container .name {
  margin-top: 95px;
  margin-bottom: 90px;
}

.hero .title .container .name .jabari {
  font-size: 145px;
  color: #fff;
  font-weight: 700;
  line-height: 0.8;
}

@media only screen and (max-width: 1000px) {
  .hero .title .container .name .jabari {
    font-size: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .hero .title .container .name .jabari {
    font-size: 75px;
  }
}

@media only screen and (max-width: 500px) {
  .hero .title .container .name .jabari {
    font-size: 60px;
    line-height: 1.1;
  }
}

@media only screen and (max-width: 500px) {
  .hero .title {
    margin: auto;
    width: 80%;
  }
}

.layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 282px 1fr;
      grid-template-columns: 282px 1fr;
}

.layout .nav {
  background-color: #d1d1d1;
  display: block;
}

.layout .nav .links {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: auto;
  padding-top: 40px;
}

.layout .nav .links .not-fixed {
  position: relative;
}

.layout .nav .links .show-fix {
  position: fixed;
  top: 10px;
  width: 250px;
}

.layout .nav .links .fixed .point {
  cursor: pointer;
}

.layout .nav .links .fixed .first {
  border-radius: 3px;
}

.layout .nav .links .fixed .first .divider-1 {
  visibility: hidden;
}

.layout .nav .links .fixed .first .divider-1-hide {
  visibility: hidden;
}

.layout .nav .links .fixed .first:hover {
  background-color: #bebebe;
}

.layout .nav .links .fixed .second {
  border-radius: 3px;
}

.layout .nav .links .fixed .second .divider-2 {
  visibility: hidden;
}

.layout .nav .links .fixed .second .divider-2-show {
  visibility: visible;
}

.layout .nav .links .fixed .second:hover {
  background-color: #bebebe;
}

.layout .nav .links .fixed .third {
  border-radius: 3px;
}

.layout .nav .links .fixed .third .divider-3 {
  visibility: hidden;
}

.layout .nav .links .fixed .third .divider-3-show {
  visibility: visible;
}

.layout .nav .links .fixed .third:hover {
  background-color: #bebebe;
}

.layout .nav .links .fixed .fourth {
  border-radius: 3px;
}

.layout .nav .links .fixed .fourth .divider-4 {
  visibility: hidden;
}

.layout .nav .links .fixed .fourth .divider-4-show {
  visibility: visible;
}

.layout .nav .links .fixed .fourth:hover {
  background-color: #bebebe;
}

.layout .nav .links .fixed .fifth {
  border-radius: 3px;
}

.layout .nav .links .fixed .fifth .divider-5 {
  visibility: hidden;
}

.layout .nav .links .fixed .fifth .divider-5-show {
  visibility: visible;
}

.layout .nav .links .fixed .fifth:hover {
  background-color: #bebebe;
}

.layout .nav .links .fixed .sixth {
  border-radius: 3px;
}

.layout .nav .links .fixed .sixth .divider-6 {
  visibility: hidden;
}

.layout .nav .links .fixed .sixth .divider-6-show {
  visibility: visible;
}

.layout .nav .links .fixed .sixth:hover {
  background-color: #bebebe;
}

.layout .nav .links .fixed .seventh {
  border-radius: 3px;
}

.layout .nav .links .fixed .seventh .divider-7 {
  visibility: hidden;
}

.layout .nav .links .fixed .seventh .divider-7-show {
  visibility: visible;
}

.layout .nav .links .fixed .seventh:hover {
  background-color: #bebebe;
}

.layout .nav .links .fixed .eighth {
  border-radius: 3px;
}

.layout .nav .links .fixed .eighth .divider-8 {
  visibility: hidden;
}

.layout .nav .links .fixed .eighth .divider-8-show {
  visibility: visible;
}

.layout .nav .links .fixed .eighth:hover {
  background-color: #bebebe;
}

.layout .nav .links .fixed div {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  margin: auto;
}

.layout .nav .links .fixed div p {
  padding-left: 10px;
  line-height: 1;
  color: #333;
  font-weight: 700;
  margin: auto 0;
}

.layout .nav .links .fixed div p a {
  text-decoration: none;
  color: #333;
}

@media only screen and (max-width: 1000px) {
  .layout .nav {
    display: none;
  }
}

.layout .right {
  background-color: #222020;
}

.layout .right .intro p {
  margin-left: 40px;
  width: 90%;
  font-size: 14px;
  line-height: 1.9;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 500px) {
  .layout .right .intro p {
    margin: 50px auto;
  }
}

.layout .right .process {
  background-color: #3d3d3d;
}

.layout .right .process .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
  margin-left: 40px;
}

.layout .right .process .container .left {
  margin: auto 0 auto 0;
}

.layout .right .process .container .left h2 {
  font-size: 20px;
  color: #0094ff;
}

.layout .right .process .container .right {
  background-image: url("../../Images/Office-Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 750px) {
  .layout .right .process .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .layout .right .process .container {
    width: 90%;
    margin: auto;
  }
}

.layout .right .section1 .container {
  display: -ms-grid;
  display: grid;
}

.layout .right .section1 .container .title {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
}

.layout .right .section1 .container .title img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.layout .right .section1 .container .title .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  display: -ms-grid;
  display: grid;
  margin: auto;
}

.layout .right .section1 .container .title .name h4 {
  color: #fff;
  text-align: center;
}

.layout .right .section1 .container .title .name .line {
  margin: auto;
  width: 50px;
  height: 1px;
  background-color: #0094ff;
}

.layout .right .section1 .container .wrapper {
  display: -ms-grid;
  display: grid;
  background-color: #393737;
  width: 80%;
  margin: 50px auto;
  border-radius: 30px;
  padding: 30px;
}

.layout .right .section1 .container .wrapper ul li {
  color: #fff;
  line-height: 1.9;
}

@media only screen and (max-width: 500px) {
  .layout .right .section1 .container .wrapper ul {
    width: 80%;
  }
}

.layout .right .section1 .container .wrapper p {
  margin-left: 20px;
  line-height: 1.9;
}

@media only screen and (max-width: 500px) {
  .layout .right .section1 .container .wrapper p {
    margin: 20px auto;
    width: 80%;
  }
}

.layout .right .section1 .container .wrapper h3 {
  margin: auto auto auto 20px;
  font-weight: 700;
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .layout .right .section1 .container .wrapper h3 {
    text-align: left;
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .layout .right .section1 .container .wrapper {
    width: 100%;
    padding: 0;
  }
}

.layout .right .section2 {
  background-color: #393737;
}

.layout .right .section2 .container {
  display: -ms-grid;
  display: grid;
}

.layout .right .section2 .container .title {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
}

.layout .right .section2 .container .title img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.layout .right .section2 .container .title .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  display: -ms-grid;
  display: grid;
  margin: auto;
}

.layout .right .section2 .container .title .name h4 {
  color: #fff;
  text-align: center;
}

.layout .right .section2 .container .title .name .line {
  margin: auto;
  width: 50px;
  height: 1px;
  background-color: #0094ff;
}

.layout .right .section2 .container .wrapper {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 50px auto;
  border-radius: 30px;
  padding: 30px;
}

@media only screen and (max-width: 500px) {
  .layout .right .section2 .container .wrapper p {
    width: 90%;
    margin: 20px auto;
  }
}

.layout .right .section2 .container .wrapper .middle {
  background-color: #222020;
  border-radius: 30px;
  padding: 30px;
}

.layout .right .section2 .container .wrapper .middle ul li {
  color: #fff;
  line-height: 1.9;
}

.layout .right .section2 .container .wrapper .middle p {
  margin-left: 20px;
  line-height: 1.9;
}

@media only screen and (max-width: 500px) {
  .layout .right .section2 .container .wrapper .middle p {
    width: 90%;
    margin: auto;
  }
}

.layout .right .section2 .container .wrapper .middle h3 {
  margin: auto auto auto 20px;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
}

@media only screen and (max-width: 500px) {
  .layout .right .section2 .container .wrapper .middle h3 {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 500px) {
  .layout .right .section2 .container .wrapper .middle {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 500px) {
  .layout .right .section2 .container .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.layout .right .section3 {
  background-color: #222020;
}

.layout .right .section3 .container {
  display: -ms-grid;
  display: grid;
}

.layout .right .section3 .container .title {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
}

.layout .right .section3 .container .title img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.layout .right .section3 .container .title .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  display: -ms-grid;
  display: grid;
  margin: auto;
}

.layout .right .section3 .container .title .name h4 {
  color: #fff;
  text-align: center;
}

.layout .right .section3 .container .title .name .line {
  margin: auto;
  width: 50px;
  height: 1px;
  background-color: #0094ff;
}

.layout .right .section3 .container .wrapper {
  display: -ms-grid;
  display: grid;
  margin-left: 10%;
  -ms-grid-columns: 1fr 70%;
      grid-template-columns: 1fr 70%;
}

.layout .right .section3 .container .wrapper .left {
  margin: auto;
}

.layout .right .section3 .container .wrapper .left .line {
  width: 50px;
  height: 1px;
  background-color: #0094ff;
}

@media only screen and (max-width: 500px) {
  .layout .right .section3 .container .wrapper .left {
    width: 90%;
    margin: auto;
  }
}

.layout .right .section3 .container .wrapper .right {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
  padding-bottom: 50px;
}

.layout .right .section3 .container .wrapper .right .shape {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  margin-left: 0;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 1fr 1fr;
  position: relative;
}

.layout .right .section3 .container .wrapper .right .shape .pic {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
  position: absolute;
  bottom: 0px;
  height: 130px;
}

.layout .right .section3 .container .wrapper .right .shape .pic .circle {
  padding-bottom: 0px;
  padding-left: 80px;
  position: absolute;
  bottom: 0px;
}

.layout .right .section3 .container .wrapper .right .shape .pic .triangle {
  position: absolute;
  bottom: 15px;
}

.layout .right .section3 .container .wrapper .right .image {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  background-image: url("../../Images/Pen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 390px;
  border-radius: 30px 0 0 30px;
  overflow: hidden;
  position: relative;
  margin-left: 100px;
  margin-bottom: 20px;
  -webkit-filter: drop-shadow(-3px 4px 14px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(-3px 4px 14px rgba(0, 0, 0, 0.25));
}

.layout .right .section3 .container .wrapper .right .image .copy {
  display: -ms-grid;
  display: grid;
  background-color: white;
  height: 126px;
  position: absolute;
  bottom: 0px;
  padding: 10px 10px 0 30px;
  opacity: 0.9;
}

.layout .right .section3 .container .wrapper .right .image .copy p {
  color: #333;
}

@media only screen and (max-width: 1070px) {
  .layout .right .section3 .container .wrapper .right .image .copy {
    height: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  .layout .right .section3 .container .wrapper .right .image {
    margin-top: 50px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .layout .right .section3 .container .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .layout .right .section3 .container .wrapper {
    margin: auto;
  }
}

.layout .right .section4 {
  background-color: #363434;
}

.layout .right .section4 .container {
  display: -ms-grid;
  display: grid;
}

.layout .right .section4 .container .title {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
}

.layout .right .section4 .container .title img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.layout .right .section4 .container .title .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  display: -ms-grid;
  display: grid;
  margin: auto;
  padding-top: 30px;
}

.layout .right .section4 .container .title .name h4 {
  color: #fff;
  text-align: center;
}

.layout .right .section4 .container .title .name .line {
  margin: auto;
  width: 50px;
  height: 1px;
  background-color: #0094ff;
}

.layout .right .section4 .container .title .name p {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 500px) {
  .layout .right .section4 .container .title .name p {
    width: 90%;
    margin: 30px auto;
  }
}

.layout .right .section5 {
  background-color: #222020;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
}

.layout .right .section5 .background {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  position: relative;
}

.layout .right .section5 .background img {
  position: absolute;
  right: 0;
}

.layout .right .section5 .container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  display: -ms-grid;
  display: grid;
  z-index: 1001;
}

.layout .right .section5 .container .title {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
}

.layout .right .section5 .container .title img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.layout .right .section5 .container .title .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  margin-top: 0;
  padding-top: 30px;
}

.layout .right .section5 .container .title .name h4 {
  color: #fff;
  text-align: center;
}

.layout .right .section5 .container .title .name .line {
  margin: auto;
  width: 50px;
  height: 1px;
  background-color: #0094ff;
}

.layout .right .section5 .container .title .name p {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 500px) {
  .layout .right .section5 .container .title .name p {
    width: 90%;
    margin: 30px auto;
  }
}

.layout .right .section5 .container .box1 {
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  margin: auto;
  background-color: #1b1a1a;
  border-radius: 30px;
  -webkit-box-shadow: 0px -2px 14px rgba(0, 0, 0, 0.15);
          box-shadow: 0px -2px 14px rgba(0, 0, 0, 0.15);
}

.layout .right .section5 .container .box1 .left {
  display: -ms-grid;
  display: grid;
  margin-left: 30px;
}

.layout .right .section5 .container .box1 .left h2 {
  text-align: left;
  margin-bottom: 0;
  color: #0094ff;
}

.layout .right .section5 .container .box1 .left p {
  margin-top: 0;
}

.layout .right .section5 .container .box1 .left ul {
  margin-top: 0;
  padding-left: 20px;
}

.layout .right .section5 .container .box1 .left ul li {
  color: #fff;
  line-height: 1.9;
}

@media only screen and (max-width: 500px) {
  .layout .right .section5 .container .box1 .left {
    width: 90%;
    margin: auto;
  }
}

.layout .right .section5 .container .box1 .line {
  height: 100%;
  width: 1px;
  background-color: #1f2c36;
}

.layout .right .section5 .container .box1 .second {
  margin-left: 30px;
}

.layout .right .section5 .container .box1 .second h2 {
  text-align: left;
  margin-bottom: 0;
  color: #0094ff;
}

.layout .right .section5 .container .box1 .second p {
  margin-top: 0;
}

.layout .right .section5 .container .box1 .second ul {
  margin-top: 0;
  padding-left: 20px;
}

.layout .right .section5 .container .box1 .second ul li {
  color: #fff;
  line-height: 1.9;
}

@media only screen and (max-width: 500px) {
  .layout .right .section5 .container .box1 .second {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 478px) {
  .layout .right .section5 .container .box1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
  }
}

.layout .right .section5 .container .divider {
  width: 100%;
  height: 1px;
  background-color: #213748;
  margin-top: 50px;
  margin-bottom: 50px;
}

.layout .right .section5 .container h3 {
  margin-top: 0;
  margin-bottom: 30px;
}

.layout .right .section5 .container .box2 {
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  margin: auto;
  background-color: #1b1a1a;
  border-radius: 30px;
  -webkit-box-shadow: 0px -2px 14px rgba(0, 0, 0, 0.15);
          box-shadow: 0px -2px 14px rgba(0, 0, 0, 0.15);
}

.layout .right .section5 .container .box2 .left {
  display: -ms-grid;
  display: grid;
  margin-left: 30px;
}

.layout .right .section5 .container .box2 .left h2 {
  text-align: left;
  margin-bottom: 0;
  color: #0094ff;
}

.layout .right .section5 .container .box2 .left p {
  margin-top: 0;
}

.layout .right .section5 .container .box2 .left ul {
  margin-top: 0;
  padding-left: 20px;
}

.layout .right .section5 .container .box2 .left ul li {
  color: #fff;
  line-height: 1.9;
}

@media only screen and (max-width: 500px) {
  .layout .right .section5 .container .box2 .left {
    width: 90%;
    margin: auto;
  }
}

.layout .right .section5 .container .box2 .line {
  height: 100%;
  width: 1px;
  background-color: #1f2c36;
}

.layout .right .section5 .container .box2 .second {
  margin-left: 30px;
}

.layout .right .section5 .container .box2 .second h2 {
  text-align: left;
  margin-bottom: 0;
  color: #0094ff;
}

.layout .right .section5 .container .box2 .second p {
  margin-top: 0;
}

.layout .right .section5 .container .box2 .second ul {
  margin-top: 30px;
  padding-left: 20px;
}

.layout .right .section5 .container .box2 .second ul li {
  color: #fff;
  line-height: 1.9;
}

@media only screen and (max-width: 500px) {
  .layout .right .section5 .container .box2 .second {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 478px) {
  .layout .right .section5 .container .box2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
  }
}

.layout .right .section5 .container .methods {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: auto;
}

.layout .right .section5 .container .methods h3 {
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.layout .right .section5 .container .methods p {
  text-align: center;
}

.layout .right .section5 .container .methods .icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 50px;
}

.layout .right .section5 .container .methods .icons .icon1 {
  margin: auto;
  display: -ms-grid;
  display: grid;
  margin-top: 0;
}

.layout .right .section5 .container .methods .icons .icon1 img {
  margin: auto;
}

.layout .right .section5 .container .methods .icons .icon2 {
  margin: auto;
  display: -ms-grid;
  display: grid;
  margin-top: 0;
}

.layout .right .section5 .container .methods .icons .icon2 img {
  margin: auto;
}

.layout .right .section5 .container .methods .icons .icon3 {
  margin: auto;
  display: -ms-grid;
  display: grid;
  margin-top: 0;
}

.layout .right .section5 .container .methods .icons .icon3 img {
  margin: auto;
}

.layout .right .section5 .container .methods .icons .icon4 {
  margin: auto;
  display: -ms-grid;
  display: grid;
  margin-top: 0;
}

.layout .right .section5 .container .methods .icons .icon4 img {
  margin: auto;
}

.layout .right .section5 .container .methods .icons .icon5 {
  margin: auto;
  display: -ms-grid;
  display: grid;
  margin-top: 0;
}

.layout .right .section5 .container .methods .icons .icon5 img {
  margin: auto;
}

@media only screen and (max-width: 872px) {
  .layout .right .section5 .container .methods .icons {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .layout .right .section5 .container .methods .icons {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.layout .right .section6 {
  background-color: #363434;
}

.layout .right .section6 .container {
  display: -ms-grid;
  display: grid;
  padding-bottom: 100px;
}

.layout .right .section6 .container .title {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
}

.layout .right .section6 .container .title img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.layout .right .section6 .container .title .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  display: -ms-grid;
  display: grid;
  margin: auto;
  padding-top: 30px;
}

.layout .right .section6 .container .title .name h4 {
  color: #fff;
  text-align: center;
}

.layout .right .section6 .container .title .name .line {
  margin: auto;
  width: 50px;
  height: 1px;
  background-color: #0094ff;
}

.layout .right .section6 .container .title .name .box {
  background-color: #222020;
  width: 70%;
  margin: auto;
  border-radius: 30px;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
  position: relative;
}

.layout .right .section6 .container .title .name .box img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.layout .right .section6 .container .title .name .box .second {
  position: absolute;
  bottom: 0;
  right: 0;
}

.layout .right .section6 .container .title .name .box p {
  width: 60%;
  text-align: left;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

@media only screen and (max-width: 500px) {
  .layout .right .section6 .container .title .name .box p {
    width: 80%;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 500px) {
  .layout .right .section6 .container .title .name .box {
    width: 100%;
  }
}

.layout .right .section7 {
  background-color: #222020;
}

.layout .right .section7 .container {
  display: -ms-grid;
  display: grid;
}

.layout .right .section7 .container .title {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
}

.layout .right .section7 .container .title .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
  display: -ms-grid;
  display: grid;
  margin: auto;
  padding-top: 30px;
}

.layout .right .section7 .container .title .name h4 {
  color: #fff;
  text-align: center;
}

.layout .right .section7 .container .title .name .line {
  margin: auto;
  width: 50px;
  height: 1px;
  background-color: #0094ff;
}

.layout .right .section7 .container .define {
  margin: auto;
  width: 80%;
  margin-top: 50px;
}

.layout .right .section7 .container .define span {
  color: #0094ff;
  font-weight: 700;
}

.layout .right .section7 .container .references {
  padding-top: 50px;
  padding-bottom: 100px;
  width: 80%;
  margin: auto;
}

.layout .right .section7 .container .references p {
  font-weight: 500;
}

.layout .right .section7 .container .references .link {
  color: #0094ff;
}

@media only screen and (max-width: 500px) {
  .layout .right .section7 .container .references .link {
    font-size: 12px;
  }
}

.layout .right .section7 .container .references a {
  text-decoration: none;
  color: #0094ff;
}

@media only screen and (max-width: 1000px) {
  .layout {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=stylesheet.css.map */