* {
  font-family: "Roboto";
}
a {
  text-decoration: none;
}
p {
  color: #fff;
}
h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 190.3%;
  /* identical to box height, or 27px */

  text-align: center;

  color: #0094ff;
}

body {
  margin: 0;
}

header {
  visibility: hidden;
}
@media only screen and (max-width: 1024px) {
  header {
    visibility: visible;
  }
}



header img {
	position: fixed;
	top: 40px;
	left: 40px;
	z-index: 6;
	width: 150px;
  }
  
  header input + label {
	position: fixed;
	top: 40px;
	right: 40px;
	height: 20px;
	width: 15px;
	z-index: 5;
  }

  input#burger {
  position: fixed;
  visibility: hidden;
   }

  header input + label span {
	position: absolute;
	width: 100%;
	height: 2px;
	top: 50%;
	margin-top: -1px;
	left: 0;
	display: block;
	background: #fff;
	transition: 0.5s;
  }
  header input + label span:first-child {
	top: 3px;
  }
  header input + label span:last-child {
	top: 16px;
  }
  header label:hover {
	cursor: pointer;
  }
  header input:checked + label span {
	opacity: 0;
	top: 50%;
  }
  header input:checked + label span:first-child {
	opacity: 1;
	transform: rotate(405deg);
  }
  header input:checked + label span:last-child {
	opacity: 1;
	transform: rotate(-405deg);
  }
  header input ~ nav {
    
	// background: #ffffff;
	position: fixed;
	top: 10;
	left: 0;
	width: 100%;
  height: 100px;
	z-index: 3;
	transition: 0.5s;
	transition-delay: 0.5s;
	overflow: hidden;
  }


  
  header input ~ nav > ul {
	text-align: center;
	// position: absolute;
	top: 35%;
	left: 20%;
  right: 20%;
  // display: grid;
  margin: auto;
	list-style-type: none;
  }
  header input ~ nav > ul > li {
	opacity: 0;
	transition: 0.5s;
	transition-delay: 0s;
  }
  header input ~ nav > ul > li > a {
	text-decoration: none;
	text-transform: uppercase;
	color: #020304;
	font-weight: 700;
	font-family: sans-serif;
	display: block;
  padding: 30px;
  visibility: hidden;
  }
  header input:checked ~ nav {
    background: #ffffff;
	height: 100%;
  transition-delay: 0s;
  display: grid;
  }
  header input:checked ~ nav > ul > li {
    background: #ffffff;
	opacity: 1;
	transition-delay: 0.5s;
  }
  header input:checked ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 30px;
    visibility: visible;
    }
    header input:checked + label span {
      
      background: #333;

      }








.hero {
  display: grid;
  background-image: url("./Images/Hero-Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .nav {
    display: grid;
    padding-top: 20px;

    .container {
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr;
      .logo-wrapper {
        display: grid;
        .logo {
          background-color: #0094ff;
          border-radius: 3px;
          width: 80px;
          height: 80px;
          display: grid;
          img {
            margin: auto;
            padding: 5px;
          }
        }
      }
      div {
        margin: auto;
        a {
          margin: auto;
          color: #fff;
          text-align: center;
          text-decoration: none;
        }
        @media only screen and (max-width: 1024px) {
          a {
            display: none;
          }
        }
      }
      
      
    }
  }
  .title {
    display: grid;
    width: 80%;
    margin: auto;
    padding-top: 30px;
    .container {
      display: grid;
      // grid-template-areas: "one";
      @media only screen and (max-width: 1200px) {
        .left {
          margin-left: 0;
        }
      }
      .left {
        display: grid;
        grid-template-areas: "one";
        margin-left: 200px;
        .name {
          grid-area: one;
          .jabari {
            font-size: 145px;
            color: #fff;
            font-weight: 700;
            line-height: 0.8;
          }
          @media only screen and (max-width: 900px) {
            .jabari {
              font-size: 125px;
            }
          }
          @media only screen and (max-width: 600px) {
            .jabari {
              font-size: 75px;
            }
          }
        }
        .image {
          display: grid;
          grid-area: one;

          img {
            position: relative;
            bottom: 0;
          }
          @media only screen and (max-width: 1200px) {
            img {
              width: 100%;
            }
          }
        }
      }
      @media only screen and (max-width: 1200px) {
        .left {
          margin-left: 0;
        }
      }
      .shape {
        display: grid;
        grid-column: 2/3;
        grid-template-areas: "One";
        .first {
          grid-area: One;
          margin-top: 50px;
          margin-left: 50px;
        }
        @media only screen and (max-width: 600px) {
          .first {
            width: 40%;
            margin-top: 30px;
            margin-left: 25px;
          }
        }
        .second {
          grid-area: One;
        }
        @media only screen and (max-width: 600px) {
          .second {
            width: 70%;
          }
        }
      }
    }
  }
}

.section2 {
  background-color: #222020;
  display: grid;
  .container {
    display: grid;
    width: 90%;
    margin: 50px auto;

    grid-template-columns: 1fr 1fr;
    .left {
      display: grid;
      grid-template-columns: 1fr;
      .title {
        display: grid;
        grid-template-columns: 1fr;
        p {
          color: #0094ff;
          margin: auto 0;
          font-weight: 700;
        }
        .line {
          width: 50px;
          background-color: #0094ff;
          height: 1px;
          margin: auto 0;
          margin-left: 10px;
          display: none;
        }
      }
      .paragraph {
        font-weight: 300;
        line-height: 1.9;
        p {
          margin-top: 0;
        }
      }
      .quote {
        font-weight: bold;
        font-size: 22px;
        line-height: 37px;
        color: #a2a2a2;
      }
    }
    @media only screen and (max-width: 500px) {
      .left {
        width: 100%;
      }
    }
    .right {
      display: grid;
      margin: auto;
      padding: 100px;
      .query {
        font-size: 32px;
        line-height: 37px;
        color: #fff;
        font-weight: 700;
        width: 100%;
      }
      .sub {
        color: #fff;
        margin-top: 16px;
      }
      .email {
        margin-top: 50px;
        display: grid;
        span {
          font-weight: 500;
          font-size: 24px;
          line-height: 190.3%;
          /* identical to box height, or 46px */

          text-decoration-line: underline;

          color: #0094ff;
          a {
            text-decoration: none;
            color: #0094ff;
          }
        }
        @media only screen and (max-width: 1200px) {
          span {
            font-size: 14px;
          }
        }
      }
    }
    @media only screen and (max-width: 1200px) {
      .right {
        margin: auto;
      }
    }

    @media only screen and (max-width: 1000px) {
      .right {
        margin-top: 50px;
        margin-left: 0;
        width: 80%;
        padding: 0;
      }
    }
    @media only screen and (max-width: 500px) {
      .right {
        width: 100%;
      }
    }

    
  }
  @media only screen and (max-width: 1000px) {
    .container {
      grid-template-columns: 1fr;
    }
  }
  @media only screen and (max-width: 500px) {
    .container {
      width: 90%;

    }
  }
}

.section3 {
  display: grid;
  background: #2b2b2b;
  .container1 {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    .title {
      h3 {
        margin-bottom: 0;
      }
      .line {
        width: 50px;
        background-color: #0094ff;
        height: 1px;
        margin: auto;
      }
      p {
        text-align: center;
      }
    }
    .pod1 {
      display: grid;
      grid-template-columns: 377px 1fr;
      background: #101010;
      border-radius: 15px;
      overflow: hidden;
      margin-top: 54px;
      .left {
        width: 100%;
        img {
          height: 100%;
        }
        @media only screen and (max-width: 1000px) {
          img {
            width: 100%;
          }
        }
      }
      .right {
        margin: auto;
        margin-left: 44px;
        margin-right: 44px;
        h2 {
          color: #fff;
        }
        p {
          line-height: 1.9;
        }
      }
    }
    @media only screen and (max-width: 1000px) {
      .pod1 {
        grid-template-columns: 1fr;
      }
    }
    
  }
  .container2 {
    width: 90%;
    margin: 54px auto 54px auto;
    .title {
      h3 {
        margin-bottom: 0;
      }
      .line {
        width: 50px;
        background-color: #0094ff;
        height: 1px;
        margin: auto;
      }
      p {
        text-align: center;
      }
    }
    .pod1 {
      display: grid;
      grid-template-columns: 377px 1fr;
      background: #101010;
      border-radius: 15px;
      overflow: hidden;
      .left {
        width: 100%;
        img {
          height: 100%;
        }
        @media only screen and (max-width: 1000px) {
          img {
            width: 100%;
          }
        }
      }
      .right {
        margin: auto;
        margin-left: 44px;
        margin-right: 44px;
        h2 {
          color: #fff;
        }
        p {
          line-height: 1.9;
        }
      }
    }
    @media only screen and (max-width: 1000px) {
      .pod1 {
        grid-template-columns: 1fr;
      }
    }
  }
}

.section4 {
  background-color: #222020;
  display: grid;
  .container {
    width: 80%;
    margin: auto;
    display: grid;
    .title {
      margin-top: 50px;
      h3 {
        margin-bottom: 0;
      }
      .line {
        width: 50px;
        background-color: #0094ff;
        height: 1px;
        margin: auto;
      }
    }
    .skills {
      margin-bottom: 50px;
      p {
        margin-top: 70px;
        text-align: center;
        line-height: 1.9;
      }
    }
  }
}

.section5 {
  background-color: #2b2b2b;
  display: grid;
  .container {
    width: 80%;
    margin: auto;
    display: grid;
    .title {
      margin-top: 50px;
      h3 {
        margin-bottom: 0;
      }
      .line {
        width: 50px;
        background-color: #0094ff;
        height: 1px;
        margin: auto;
      }
    }
    .awards {
      margin-bottom: 50px;
      p {
        margin-top: 70px;
        text-align: center;
        line-height: 1.9;
      }
      .second {
        margin-top: 20px;
      }
    }
  }
}
