* {
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

p {
  color: #fff;
}

h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 190.3%;
  /* identical to box height, or 27px */
  text-align: center;
  color: #0094ff;
}

body {
  margin: 0;
}

header {
  visibility: hidden;
}

@media only screen and (max-width: 1024px) {
  header {
    visibility: visible;
  }
}

header img {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 6;
  width: 150px;
}

header input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}

input#burger {
  position: fixed;
  visibility: hidden;
}

header input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header input + label span:first-child {
  top: 3px;
}

header input + label span:last-child {
  top: 16px;
}

header label:hover {
  cursor: pointer;
}

header input:checked + label span {
  opacity: 0;
  top: 50%;
}

header input:checked + label span:first-child {
  opacity: 1;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

header input:checked + label span:last-child {
  opacity: 1;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

header input ~ nav {
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  overflow: hidden;
}

header input ~ nav > ul {
  text-align: center;
  top: 35%;
  left: 20%;
  right: 20%;
  margin: auto;
  list-style-type: none;
}

header input ~ nav > ul > li {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

header input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
  visibility: hidden;
}

header input:checked ~ nav {
  background: #ffffff;
  height: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  display: -ms-grid;
  display: grid;
}

header input:checked ~ nav > ul > li {
  background: #ffffff;
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

header input:checked ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
  visibility: visible;
}

header input:checked + label span {
  background: #333;
}

.hero {
  display: -ms-grid;
  display: grid;
  background-image: url("./Images/Hero-Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .nav {
  display: -ms-grid;
  display: grid;
  padding-top: 20px;
}

.hero .nav .container {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr;
}

.hero .nav .container .logo-wrapper {
  display: -ms-grid;
  display: grid;
}

.hero .nav .container .logo-wrapper .logo {
  background-color: #0094ff;
  border-radius: 3px;
  width: 80px;
  height: 80px;
  display: -ms-grid;
  display: grid;
}

.hero .nav .container .logo-wrapper .logo img {
  margin: auto;
  padding: 5px;
}

.hero .nav .container div {
  margin: auto;
}

.hero .nav .container div a {
  margin: auto;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .hero .nav .container div a {
    display: none;
  }
}

.hero .title {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

.hero .title .container {
  display: -ms-grid;
  display: grid;
}

@media only screen and (max-width: 1200px) {
  .hero .title .container .left {
    margin-left: 0;
  }
}

.hero .title .container .left {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "one";
  margin-left: 200px;
}

.hero .title .container .left .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.hero .title .container .left .name .jabari {
  font-size: 145px;
  color: #fff;
  font-weight: 700;
  line-height: 0.8;
}

@media only screen and (max-width: 900px) {
  .hero .title .container .left .name .jabari {
    font-size: 125px;
  }
}

@media only screen and (max-width: 600px) {
  .hero .title .container .left .name .jabari {
    font-size: 75px;
  }
}

.hero .title .container .left .image {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.hero .title .container .left .image img {
  position: relative;
  bottom: 0;
}

@media only screen and (max-width: 1200px) {
  .hero .title .container .left .image img {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .hero .title .container .left {
    margin-left: 0;
  }
}

.hero .title .container .shape {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
      grid-template-areas: "One";
}

.hero .title .container .shape .first {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: One;
  margin-top: 50px;
  margin-left: 50px;
}

@media only screen and (max-width: 600px) {
  .hero .title .container .shape .first {
    width: 40%;
    margin-top: 30px;
    margin-left: 25px;
  }
}

.hero .title .container .shape .second {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: One;
}

@media only screen and (max-width: 600px) {
  .hero .title .container .shape .second {
    width: 70%;
  }
}

.section2 {
  background-color: #222020;
  display: -ms-grid;
  display: grid;
}

.section2 .container {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: 50px auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section2 .container .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.section2 .container .left .title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.section2 .container .left .title p {
  color: #0094ff;
  margin: auto 0;
  font-weight: 700;
}

.section2 .container .left .title .line {
  width: 50px;
  background-color: #0094ff;
  height: 1px;
  margin: auto 0;
  margin-left: 10px;
  display: none;
}

.section2 .container .left .paragraph {
  font-weight: 300;
  line-height: 1.9;
}

.section2 .container .left .paragraph p {
  margin-top: 0;
}

.section2 .container .left .quote {
  font-weight: bold;
  font-size: 22px;
  line-height: 37px;
  color: #a2a2a2;
}

@media only screen and (max-width: 500px) {
  .section2 .container .left {
    width: 100%;
  }
}

.section2 .container .right {
  display: -ms-grid;
  display: grid;
  margin: auto;
  padding: 100px;
}

.section2 .container .right .query {
  font-size: 32px;
  line-height: 37px;
  color: #fff;
  font-weight: 700;
  width: 100%;
}

.section2 .container .right .sub {
  color: #fff;
  margin-top: 16px;
}

.section2 .container .right .email {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
}

.section2 .container .right .email span {
  font-weight: 500;
  font-size: 24px;
  line-height: 190.3%;
  /* identical to box height, or 46px */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0094ff;
}

.section2 .container .right .email span a {
  text-decoration: none;
  color: #0094ff;
}

@media only screen and (max-width: 1200px) {
  .section2 .container .right .email span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) {
  .section2 .container .right {
    margin: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .section2 .container .right {
    margin-top: 50px;
    margin-left: 0;
    width: 80%;
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .section2 .container .right {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .section2 .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .section2 .container {
    width: 90%;
  }
}

.section3 {
  display: -ms-grid;
  display: grid;
  background: #2b2b2b;
}

.section3 .container1 {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.section3 .container1 .title h3 {
  margin-bottom: 0;
}

.section3 .container1 .title .line {
  width: 50px;
  background-color: #0094ff;
  height: 1px;
  margin: auto;
}

.section3 .container1 .title p {
  text-align: center;
}

.section3 .container1 .pod1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 377px 1fr;
      grid-template-columns: 377px 1fr;
  background: #101010;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 54px;
}

.section3 .container1 .pod1 .left {
  width: 100%;
}

.section3 .container1 .pod1 .left img {
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .section3 .container1 .pod1 .left img {
    width: 100%;
  }
}

.section3 .container1 .pod1 .right {
  margin: auto;
  margin-left: 44px;
  margin-right: 44px;
}

.section3 .container1 .pod1 .right h2 {
  color: #fff;
}

.section3 .container1 .pod1 .right p {
  line-height: 1.9;
}

@media only screen and (max-width: 1000px) {
  .section3 .container1 .pod1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.section3 .container2 {
  width: 90%;
  margin: 54px auto 54px auto;
}

.section3 .container2 .title h3 {
  margin-bottom: 0;
}

.section3 .container2 .title .line {
  width: 50px;
  background-color: #0094ff;
  height: 1px;
  margin: auto;
}

.section3 .container2 .title p {
  text-align: center;
}

.section3 .container2 .pod1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 377px 1fr;
      grid-template-columns: 377px 1fr;
  background: #101010;
  border-radius: 15px;
  overflow: hidden;
}

.section3 .container2 .pod1 .left {
  width: 100%;
}

.section3 .container2 .pod1 .left img {
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .section3 .container2 .pod1 .left img {
    width: 100%;
  }
}

.section3 .container2 .pod1 .right {
  margin: auto;
  margin-left: 44px;
  margin-right: 44px;
}

.section3 .container2 .pod1 .right h2 {
  color: #fff;
}

.section3 .container2 .pod1 .right p {
  line-height: 1.9;
}

@media only screen and (max-width: 1000px) {
  .section3 .container2 .pod1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.section4 {
  background-color: #222020;
  display: -ms-grid;
  display: grid;
}

.section4 .container {
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
}

.section4 .container .title {
  margin-top: 50px;
}

.section4 .container .title h3 {
  margin-bottom: 0;
}

.section4 .container .title .line {
  width: 50px;
  background-color: #0094ff;
  height: 1px;
  margin: auto;
}

.section4 .container .skills {
  margin-bottom: 50px;
}

.section4 .container .skills p {
  margin-top: 70px;
  text-align: center;
  line-height: 1.9;
}

.section5 {
  background-color: #2b2b2b;
  display: -ms-grid;
  display: grid;
}

.section5 .container {
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
}

.section5 .container .title {
  margin-top: 50px;
}

.section5 .container .title h3 {
  margin-bottom: 0;
}

.section5 .container .title .line {
  width: 50px;
  background-color: #0094ff;
  height: 1px;
  margin: auto;
}

.section5 .container .awards {
  margin-bottom: 50px;
}

.section5 .container .awards p {
  margin-top: 70px;
  text-align: center;
  line-height: 1.9;
}

.section5 .container .awards .second {
  margin-top: 20px;
}
/*# sourceMappingURL=stylesheet.css.map */