* {
    font-family: "Roboto";
  }
  p {
    color: #fff;
  }
  h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 190.3%;
    /* identical to box height, or 27px */
  
    text-align: center;
  
    color: #0094ff;
  }
  
  body {
    margin: 0;
  }
  
  header {
    visibility: hidden;
  }
  @media only screen and (max-width: 1024px) {
    header {
      visibility: visible;
    }
  }
  
  
  
  header img {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 6;
    width: 150px;
    }
    
    header input + label {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 5;
    }
  
    input#burger {
    position: fixed;
    visibility: hidden;
     }
  
    header input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #fff;
    transition: 0.5s;
    }
    header input + label span:first-child {
    top: 3px;
    }
    header input + label span:last-child {
    top: 16px;
    }
    header label:hover {
    cursor: pointer;
    }
    header input:checked + label span {
    opacity: 0;
    top: 50%;
    }
    header input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
    }
    header input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
    }
    header input ~ nav {
      
    // background: #ffffff;
    position: fixed;
    top: 10;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    }
  
  
    
    header input ~ nav > ul {
    text-align: center;
    // position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
    // display: grid;
    margin: auto;
    list-style-type: none;
    }
    header input ~ nav > ul > li {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
    }
    header input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 30px;
    visibility: hidden;
    }
    header input:checked ~ nav {
      background: #ffffff;
    height: 100%;
    transition-delay: 0s;
    display: grid;
    }
    header input:checked ~ nav > ul > li {
      background: #ffffff;
    opacity: 1;
    transition-delay: 0.5s;
    }
    header input:checked ~ nav > ul > li > a {
      text-decoration: none;
      text-transform: uppercase;
      color: #020304;
      font-weight: 700;
      font-family: sans-serif;
      display: block;
      padding: 30px;
      visibility: visible;
      }
      header input:checked + label span {
        
        background: #333;
  
        }



  .hero {
    display: grid;
    background-image: url("../../Images/Hero-Image4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    .nav {
      display: grid;
      padding-top: 20px;
  
      .container {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr;
        .logo-wrapper {
          display: grid;
          .logo {
            background-color: #0094ff;
            border-radius: 3px;
            width: 80px;
            height: 80px;
            display: grid;
            img {
              margin: auto;
              padding: 5px;
            }
          }
        }
        div {
          margin: auto;
          a {
          margin: auto;
          color: #fff;
          text-align: center;
          text-decoration: none;
          }
          @media only screen and (max-width: 1024px) {
            a {
              display: none;
            }
          }
        }
      }
    }
    .title {
        width: 80%;
        display: grid;
        .container {
            margin: auto;
            .name {
                grid-area: one;
                margin-top: 95px;
                margin-bottom: 90px;
                .jabari {
                  font-size: 145px;
                  color: #fff;
                  font-weight: 700;
                  line-height: 0.8;
                }
                @media only screen and (max-width: 1000px) {
                  .jabari {
                    font-size: 100px;
                  }
                }
                @media only screen and (max-width: 600px) {
                  .jabari {
                    font-size: 75px;
                  }
                }
                @media only screen and (max-width: 500px) {
                  .jabari {
                    font-size: 50px;
                    line-height: 1.1;
                  }
                }
              }
        }
    }
    @media only screen and (max-width: 500px) {
      .title {
        margin: auto;
        width: 90%;
      }
    }
}

.section2 {
    background-color: #222020;
    .container {
        display: grid;
        .wrapper {
            width: 90%;
            margin: 50px auto;
            h2 {
                color: #0094ff;
                margin-top: 60px;
            }
            h4 {
                color: #0094ff;
                font-size: 16px;
            }
            p {
                line-height: 1.9;
                font-weight: 300;
            }
            .reference {
                margin: 50px auto;
                p {
                    font-weight: 600;
                }
            }
        }
        .line {
            width: 100%;
            height: 1px;
            background-color: #434242;
        }
    }
}