* {
  font-family: "Roboto";
}

p {
  color: #fff;
}

h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 190.3%;
  /* identical to box height, or 27px */
  text-align: center;
  color: #0094ff;
}

body {
  margin: 0;
}

header {
  visibility: hidden;
}

@media only screen and (max-width: 1024px) {
  header {
    visibility: visible;
  }
}

header img {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 6;
  width: 150px;
}

header input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}

input#burger {
  position: fixed;
  visibility: hidden;
}

header input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header input + label span:first-child {
  top: 3px;
}

header input + label span:last-child {
  top: 16px;
}

header label:hover {
  cursor: pointer;
}

header input:checked + label span {
  opacity: 0;
  top: 50%;
}

header input:checked + label span:first-child {
  opacity: 1;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

header input:checked + label span:last-child {
  opacity: 1;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

header input ~ nav {
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  overflow: hidden;
}

header input ~ nav > ul {
  text-align: center;
  top: 35%;
  left: 20%;
  right: 20%;
  margin: auto;
  list-style-type: none;
}

header input ~ nav > ul > li {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

header input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
  visibility: hidden;
}

header input:checked ~ nav {
  background: #ffffff;
  height: 100%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  display: -ms-grid;
  display: grid;
}

header input:checked ~ nav > ul > li {
  background: #ffffff;
  opacity: 1;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

header input:checked ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
  visibility: visible;
}

header input:checked + label span {
  background: #333;
}

.hero {
  display: -ms-grid;
  display: grid;
  background-image: url("../../Images/Hero-Image4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .nav {
  display: -ms-grid;
  display: grid;
  padding-top: 20px;
}

.hero .nav .container {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr;
}

.hero .nav .container .logo-wrapper {
  display: -ms-grid;
  display: grid;
}

.hero .nav .container .logo-wrapper .logo {
  background-color: #0094ff;
  border-radius: 3px;
  width: 80px;
  height: 80px;
  display: -ms-grid;
  display: grid;
}

.hero .nav .container .logo-wrapper .logo img {
  margin: auto;
  padding: 5px;
}

.hero .nav .container div {
  margin: auto;
}

.hero .nav .container div a {
  margin: auto;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .hero .nav .container div a {
    display: none;
  }
}

.hero .title {
  width: 80%;
  display: -ms-grid;
  display: grid;
}

.hero .title .container {
  margin: auto;
}

.hero .title .container .name {
  grid-area: one;
  margin-top: 95px;
  margin-bottom: 90px;
}

.hero .title .container .name .jabari {
  font-size: 145px;
  color: #fff;
  font-weight: 700;
  line-height: 0.8;
}

@media only screen and (max-width: 1000px) {
  .hero .title .container .name .jabari {
    font-size: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .hero .title .container .name .jabari {
    font-size: 75px;
  }
}

@media only screen and (max-width: 500px) {
  .hero .title .container .name .jabari {
    font-size: 50px;
    line-height: 1.1;
  }
}

@media only screen and (max-width: 500px) {
  .hero .title {
    margin: auto;
    width: 90%;
  }
}

.section2 {
  background-color: #222020;
}

.section2 .container {
  display: -ms-grid;
  display: grid;
}

.section2 .container .wrapper {
  width: 90%;
  margin: 50px auto;
}

.section2 .container .wrapper h2 {
  color: #0094ff;
  margin-top: 60px;
}

.section2 .container .wrapper h4 {
  color: #0094ff;
  font-size: 16px;
}

.section2 .container .wrapper p {
  line-height: 1.9;
  font-weight: 300;
}

.section2 .container .wrapper .reference {
  margin: 50px auto;
}

.section2 .container .wrapper .reference p {
  font-weight: 600;
}

.section2 .container .line {
  width: 100%;
  height: 1px;
  background-color: #434242;
}
/*# sourceMappingURL=stylesheet.css.map */